html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url(./images/soccer-field-checkered-background-vector-5012328.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.teams-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5em;
  text-align: center;
  color: black;
  font-size: 2em;
}

.intro {
  display: flex;
  justify-content: center;
  align-self: auto;
  font-family: cursive;
  font-size: 3em;
  color:darkblue;
}

.home-team {
  font-family: fantasy;
  color:yellow;
  font-size: 3em;
}

.away-team {
  font-family: fantasy;
  color: yellow;
  font-size: 3em;
}

.home-score {
  font-size: 3em;
  color:darkblue;
}

.away-score {
  font-size: 3em;
  color: darkblue;
}